<div id="additional-settings" class="page-container">
	<div class="page">
		<h1 class="page-title">Additional settings</h1>

		<div class="content">
			<div class="rating">
				<h3>Rating</h3>
				<rzslider 
					rz-slider-model="ratingSlider.min"
					rz-slider-high="ratingSlider.max"
					rz-slider-options="ratingSlider.options">
				</rzslider>
			</div>

			<div class="years">
				<h3>Years</h3>
    			<rzslider 
    				rz-slider-model="yearSlider.min"
    				rz-slider-high="yearSlider.max"
    				rz-slider-options="yearSlider.options">
    			</rzslider>
			</div>
		</div>

		<a class="button rounded" ng-href="disover">Start</a>
	</div>
</div>