<div id="specific-movie" class="page-container" when-scrolled="myScrollEvent()">
	<header id="fixed-header" style="background: url({{ getBackgroundUrl(movie.background) }})" class="show">
		<h1 class="page-title">{{ movie.title }}</h1>
	</header>

	<ul class="person-list fixed-header-padding">
		<li ng-repeat="actor in movie.cast">
			<a class="clearfix" ng-href="#/person/{{ actor.id }}">
				<figure>
					<img ng-show="actor.avatar" src="{{ getPersonPictureUrl(actor.avatar) }}">
				</figure>

				<p>{{ actor.name }}</p>
				<span>{{ actor.character }}</span>
			</a>
		</li>
	</ul>
</div>