<div id="specific-movie" class="page-container" when-scrolled="myScrollEvent()">
	<div class="page">
		<header id="backdrop" style="background: url({{ getBackgroundUrl() }})" ng-class="{'show':largeHeader}">
			<div class="content">
				<figure class="rating-circle">
					<div class="inner">
						<span>{{ movie.rating }}</span>
						<h4>rating</h4>
					</div>
				</figure>

				<h1 id="movie-title">{{ movie.title }} <span class="year">{{ getYear() }}</span></h1>
				<ul class="genre-list">
					<li ng-repeat="genre in movie.genres | limitTo: 4">{{ genre }}</li>
				</ul>
			</div>

			<a ng-show="movie.trailer" ng-href="{{ getTrailerUrl() }}" target="_blank" class="rounded button">Watch trailer</a>
		</header>

		<header id="fixed-header"  ng-class="{'show':!largeHeader}" style="background: url({{ getBackgroundUrl() }})">
			<h1 class="page-title">{{ movie.title }}</h1>
		</header>

		<section class="trivia clearfix">
			<div>
				<span>{{ getRuntimeFormatted() || "N/A" }}</span>
				<h4>Runtime</h4>
			</div>

			<div>
				<span>{{ movie.release_date || "N/A" }}</span>
				<h4>Release date</h4>
			</div>			
		</section>

		<div class="content">
			<section class="synopsis clearfix">
				<header class="clearfix">
					<h3 class="with-border">Synopsis</h3>
				</header>

				<p>{{ movie.synopsis }}</p>
			</section>

			<section ng-show="movie.cast.length" class="cast clearfix">
				<header class="clearfix">
					<h3 class="with-border">Cast</h3>

					<a class="read-more" ng-href="#/movie/{{ movie.id }}/full-cast">See full cast</a>
				</header>

				<ul class="person-list">
					<li ng-repeat="actor in movie.cast | limitTo: 3">
						<a class="clearfix" ng-href="#/person/{{ actor.id }}">
							<figure>
								<img ng-show="actor.avatar" src="{{ getAvatarUrl(actor.avatar) }}">
							</figure>

							<p>{{ actor.name }}</p>
							<span>{{ actor.character }}</span>
						</a>
					</li>
				</ul>
			</section>

			<section ng-show="movie.crew.length" class="credits clearfix">
				<header class="clearfix">
					<h3 class="with-border">Cast</h3>

					<a class="read-more" ng-href="#/movie/{{ movie.id }}/full-crew">See full cast</a>
				</header>

				<ul class="person-list">
					<li ng-repeat="person in movie.crew | limitTo: 3">
						<a class="clearfix" href="#/person/{{ person.id }}">
							<p>{{ person.name }}</p>
							<span>{{ person.job }}</span>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>