<div id="specific-actor" class="page-container">
	<div class="page">
		<header id="backdrop" style="background:url('{{ getAvatarUrl() }}')">
			<div class="centered-content">
				<figure ng-show="person.picture" class="avatar-circle" style="background-image:url('{{ getBackgroundUrl() }}')">
				</figure>

				<h1 class="movie-title">{{ person.name }} </h1>
			</div>
		</header>

		<section class="trivia clearfix">
			<div>
				<span>{{ person.birthday || "N/A" }}</span>
				<h4>BIRTHDATE</h4>
			</div>

			<div>
				<span>{{ getBirthTown() || "N/A" }}</span>
				<h4>BIRTHPLACE</h4>
			</div>			
		</section>

		<div class="content">
			<section ng-show="person.biography" class="synopsis clearfix">
				<header>
					<h3 class="with-border">Biography</h3>
				</header>

				<p class="bio" >{{ person.biography }}</p>
			</section>

			<section ng-show="person.filmography.length">
				<header>
					<h3 class="with-border">FILMOGRAPHY</h3>
				</header>

				<ul ng-repeat="row in person.filmography" class="movie-list clearfix">
					<ul class="row clearfix">
						<li ng-repeat="film in row" class="movie">	
							<a class="filmlist" ng-href="#/movie/{{ film.id }}">
								<figure class="poster">
									<img ng-show="film.poster" class="filmo" ng-src="{{ getPosterUrl(film.poster) }}">
								</figure>

								<div class="info">
									<p class="movieName">{{ film.name }}</p>
									<span class="movieYear">{{ getYear(film.date) }}</span>	
								</div>
							</a>
						</li>
					</ul>
				</ul>
			</section>
		</div>
	</div>
</div>
