<div id="signinup" align="center">
<br/>
<img class="logo" src="images/logo.png" />
<br/>
<br/>
<br/>
<a ng-click="signInFacebook()" class="rounded button facebook">Sign in with Facebook</a>
<br/>
<br/>

<form ng-submit="signIn(credentials)">
	<h1 class="sign">Sign in</h1>

	<input name="email" type="email" ng-model="credentials.email" placeholder="Email">
	<br/>
	<input name="password" type="password" ng-model="credentials.password" placeholder="Password">
	<br/>
	<br/>
	<input class="rounded button" type="submit" value="SIGN IN">
</form>
<br/>

<br/>
<p ng-show="err.length">{{err}}</p>
<br/>
<br/>

<div style="color:lightgrey;">Don't have an account? <a style="color:white;" href="#/signup">Sign up</a>
</div>




