<div id="start-screen" ng-controller="ApplicationController" class="page-container">
	<nav id="app-nav">
		<a class="back button rounded" ng-href="#/welcome">
			<img src="images/arrow.png">
		</a>

		<a class="menu button">
			<img src="images/arrow.png">
		</a>
	</nav>

	<div class="page">
		<h1 class="page-title" ng-model="user">What are you in<br>the mood for?</h1>
		<span class="info">Select genres, rating and releasing year of the movies you would like to watch</span>

	    <section class="genres">
	    	<h3>Genres</h3>

	    	<ul class="clearfix">
	    		<li ng-repeat="genre in genres()" ng-class="{active: genre.state==1}" ng-click ="addGenre(genre)" class="rounded button">{{genre.name}}</li>
	    	</ul>
	    </section>

		<section class="rating">
			<h3>Rating</h3>
			<rzslider 
				rz-slider-model="ratingSlider.min"
				rz-slider-high="ratingSlider.max"
				rz-slider-options="ratingSlider.options">
			</rzslider>
		</section>

		<section class="years">
			<h3>Years</h3>
			<rzslider 
				rz-slider-model="yearSlider.min"
				rz-slider-high="yearSlider.max"
				rz-slider-options="yearSlider.options">
			</rzslider>
		</section>

		<a id="start-button" ng-click="search()" ng-href="#/discover" class="button rounded">Start</a>
	</div>
</div>

