<div align="center">
<br/>
<h1>Additional Settings</h1>
<br/>
<br/>
<h2>CERTIFICATIONS</h2>
<br/>
<h2>RATING</h2>
<br/>
<h2>YEARS</h2>

<!--<div class="container">
    <div align="center" class="btn-group col-xs-12" data-toggle="buttons">
        <label ng-repeat="movie in movies | unique: 'movie.genre'" class="btn btn-default">
            <input type="checkbox" name="genre" value="{{movie.genre}}">{{movie.genre}}
        </label>
    </div>
</div>-->
<br/>
<br/>
<br/>
<a href="" class="btn btn-warning btn-lg">START</a>
</div>
