<div id="start-screen" ng-controller="ApplicationController" class="page-container">
	<div class="page">
		<h1 class="page-title" ng-model="user">Welcome <br/> {{user.name}}</h1>

		<section class="intro">
			<h2>What are you in the mood for?</h2>
			<span>Select genres, rating and releasing year of the movies you would like to watch</span>
		</section>

	    <section class="genres">
	    	<h3>Genres</h3>

	    	<ul class="clearfix">
	    		<li ng-repeat="genre in genres()" ng-class="{active: genre.state==1}" ng-click ="addGenre(genre)" class="rounded button">{{genre.name}}</li>
	    	</ul>
	    </section>

		<section class="rating">
			<h3>Rating</h3>
			<rzslider 
				rz-slider-model="ratingSlider.min"
				rz-slider-high="ratingSlider.max"
				rz-slider-options="ratingSlider.options">
			</rzslider>
		</section>

		<section class="years">
			<h3>Years</h3>
			<rzslider 
				rz-slider-model="yearSlider.min"
				rz-slider-high="yearSlider.max"
				rz-slider-options="yearSlider.options">
			</rzslider>
		</section>

		<a id="start-button" ng-click="search()" ng-href="#/discover" class="button rounded">Start</a>
	</div>
</div>

