<div align="center">
<br/>
<img src="images/logo.png" />
<br/>
<br/>
<br/>
<input ng-model="name" type="text" placeholder="Name"/>
<br/>
<input ng-model="email" type="text" placeholder="Email"/>

<br/>
<input ng-model="password" type="text" placeholder="Password"/>
<br/>
<br/>
<br/>
<button class="btn btn-warning btn-lg" ng-click="signup(name,email,password)" type="submit">SIGN UP</button>
<br/>
<br/>
<br/>
<div style="color:lightgrey;">Already have an account? <a style="color:white;" href="#/view1">Sign in</a>
</div>
