<div id="watchlist" class="page-container">
	<div class="page">
		<header id="backdrop" style="background-image:url('{{user.avatar}}')">
			<div class="centered-content">
				<figure class="avatar-circle" style="background-image:url('{{user.avatar}}')">
				</figure>

				<h1 class="movie-title">Hello <br/>{{ user.name }}</h1>	
			</div>
		</header>

		<div class="content" ng-show="watchlist.length">
			<section ng-show="watchlist.length" class="cast clearfix">
				<header class="clearfix">
					<h3 class="with-border">Watchlist</h3>
					<a class="edit" ng-click="toggleEditMode()">{{ editMode ? "Done" : "Edit" }}</a>
				</header>

				<ul class="movie-list">
					<li class="movie" ng-repeat="movie in watchlist" ng-class="{ 'edit-mode' : editMode }">
						<figure>
							<img src="{{ movie.poster }}">
						</figure>

						<div class="info">
							<p>{{ movie.name }}</p>
							<span>{{ movie.year }}</span>
						</div>
							
						<a class="remove button" ng-click="removeFromWatchlist(movie.id)">DELETE</a>
					</li>
				</ul>
			</section>
		</div>

		<ng-include ng-show="!watchlist.length" src="'views/nowatchlist.html'"></ng-include>
	</div>
</div>
