<div id="watchlist" ng-controller="ApplicationController" class="page-container">
	<nav id="app-nav">
		<a class="back button rounded" ng-href="#/welcome">
			<img src="images/arrow.png">
		</a>

		<a class="menu button">
			<img src="images/arrow.png">
		</a>
	</nav>

	<div class="page">
		<header id="fixed-header" class="show">
			<h1 class="page-title">Your movies</h1>
		</header>

		<div class="content fixed-header-padding" ng-show="watchlist.length">
			<section ng-show="watchlist.length" class="clearfix">
				<header class="clearfix">
					<h3 class="with-border">watchlist</h3>
					<a class="edit" ng-click="toggleEditMode()">{{ editMode ? "Done" : "Edit" }}</a>
				</header>

				<ul class="movie-list">
					<li class="movie" ng-repeat="movie in watchlist" ng-class="{ 'edit-mode' : editMode }">
						<figure>
							<img src="{{ movie.poster }}">
						</figure>

						<div class="info">
							<p>{{ movie.name }}</p>
							<span>{{ movie.year }}</span>
						</div>
							
						<a class="remove button" ng-click="removeFromWatchlist(movie.id)">DELETE</a>
					</li>
				</ul>
			</section>
		</div>

		<ng-include ng-show="!watchlist.length" src="'views/nowatchlist.html'"></ng-include>
	</div>
</div>
