<div id="specific-actor" class="page-container">
	<div class="page">
		<header class="backdrop" style="background-image:url('{{user.avatar}}')">
			<div class="content">
				<figure class="star-circle" style="background-image:url('{{user.avatar}}')">

				</figure>

				<h1 class="movie-title">Hello {{ user.name }}</h1>
				
			</div>

		</header>

		<div class="content">
	
			<section ng-show="watchlist.length" class="cast clearfix">
				<header>
					<h3 class="with-border">Watchlist</h3>
				</header>

				<ul class="person-list">
					<li ng-repeat="movie in watchlist">
						<a class="clearfix" ng-href="#/movie/{{ movie.id }}">
							<figure>
								<img src="{{ movie.poster }}">
							</figure>

							<p>{{ movie.name }}</p>
							<span>{{ movie.year }}</span>
						</a>
						<button ng-click="removeFromWatchlist(movie)">Remove from watchlist</button>
					</li>
				</ul>
			</section>

		</div>
	</div>
</div>
